# 1ª PARTE

## Ejercicio 1

### Lista que agrupe los meses del año en trimestres

In [1]:
lista_meses_año=['Enero', 'Febrero', 'Marzo'], ['Abril','Mayo', 'Junio'],\
['Julio', 'Agosto', 'Septiembre'], ['Octubre', 'Noviembre', 'Diciembre']
lista_trimestres=['T1', 'T2', 'T3', 'T4']


print(list(zip(lista_trimestres, lista_meses_año)))

[('T1', ['Enero', 'Febrero', 'Marzo']), ('T2', ['Abril', 'Mayo', 'Junio']), ('T3', ['Julio', 'Agosto', 'Septiembre']), ('T4', ['Octubre', 'Noviembre', 'Diciembre'])]

## Ejercicio 2

### 2º mes del trimestre 1º

In [2]:
trim=lista_trimestres.index('T1')
print('El segundo mes del primer trimestre corresponde a: ', lista_meses_año [trim][1])

El segundo mes del primer trimestre corresponde a:  Febrero

### Meses del primer trimestre

In [3]:
trim=lista_trimestres.index('T1')
print('Los meses del primer trimestre corresponden a: ', lista_meses_año [trim])

Los meses del primer trimestre corresponden a:  ['Enero', 'Febrero', 'Marzo']

### Meses 9 y 10 del año

In [4]:
aplanamiento_lista_meses_año=[]

for mm in lista_meses_año:
    aplanamiento_lista_meses_año += mm
print('Los meses 9 y 10 corresponden a: ', aplanamiento_lista_meses_año[8:10])

Los meses 9 y 10 corresponden a:  ['Septiembre', 'Octubre']

## Ejercicio 3

In [5]:
list_num=[12, 58, 11, 3, 5, 15, 3, 24, 32, 2, 17, 42, 3, 15, 28, 3, 3, 43, 50, 20, 6]

### Números que hay en la lista

In [6]:
print('La longitud de la lista es de:', len(list_num), 'elementos')

La longitud de la lista es de: 21 elementos

### Número de veces que aparece el número 3

In [7]:
print('El valor 3 aparece', list_num.count(3), 'veces')

El valor 3 aparece 5 veces

### Número de veces que aparece el número 3 y el 4

In [8]:
print('Los números 3 y 4 aparecen', list_num.count(3), 'y', list_num.count(4), 'veces, respectivamente')

Los números 3 y 4 aparecen 5 y 0 veces, respectivamente

### Número mayor

In [9]:
print('El número mayor de la lista es', max(list_num))

El número mayor de la lista es 58

### Los 3 números más pequeños de la lista

In [10]:
sin_repet=set(list_num)

print('Los números más pequeños son', sorted(sin_repet)[:3])

Los números más pequeños son [2, 3, 5]

### Rango de la lista

In [11]:
rango_list_num=max(list_num) - min(list_num)
print('El rango de esta lista es de', rango_list_num)

El rango de esta lista es de 56

## Ejercicio 4

In [12]:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }

### Añadir una fruta

In [13]:
compra["Bananas"] ={"Qty": 7, "€": 0.28}

print(compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Bananas': {'Qty': 7, '€': 0.28}}

### Precio total de las peras

In [14]:
cantPer=compra['Peres']['Qty']
precPer=compra['Peres']['€']
print("El precio total de las Peras es de: ", cantPer*precPer)

El precio total de las Peras es de:  1.98

### Frutas compradas en total

In [15]:
sum = 0

for clave, valor in compra.items():
 
    if valor and 'Qty' in valor.keys():
        sum += valor['Qty']
print('La suma total de frutas es: ', sum)

La suma total de frutas es:  15

### Fruta más cara

In [16]:
## Podría hacerlo también usando el bucle "for  in",
## como en el ejercicio anterior, pero ahora usaré la función "lambda" para reducir el código

print('La fruta más cara es/son: ') 
max(compra, key=lambda x: compra[x].get('€'))

La fruta más cara es/son:

'Peres'